
body {
	background-color: dimgrey;
	background-image: none;
}

section {
	column-count: 3;
	grid-template-columns: minmax(0, 1fr);
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 3em;
	margin-right: 3em;
	column-gap: 24px;
}


.material-symbols-outlined {
	font-variation-settings:'FILL' 0;
	font-size: 50px;
	width: 50px;
	height: 50px;
	color: black;
}

/*#space{
	position: fixed;
	/*top: 10vh; left:0;
	display: flex;
	max-width: 1000px;
	justify-content: center;
}*/

#closeUp img{
	/*max-width: auto;
	max-height: 80vh;*/
	/*max-height: 100%;*/
	max-width: 100%;
	max-height:100%;
	/*height: auto;*/
} 

#closeUp {
	/*display: none;*/
	display: flex;
	position: fixed;
	/*top: 10vh; left:0;*/
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 60%;
	background-color: blue;
}

#closeUp figure{
	/*max-height:250px;*/
	margin: 0px;
	/*max-height: 500px;*/
	width: auto;
	max-height: 686px;
	max-width: 100%;
	
}

section figure {
	margin: 0px;
	display: block;
}

section img {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 1rem;	
}

header {
	background-color: grey;
	display: flex;
	justify-content: space-between;
	border-bottom: 5px solid;
	border-bottom-color: black;
	padding-right: 10px;
	margin-bottom: 30px;
}

header h1{
	background-color: transparent;
	border: none;
	margin: 0px;
	width: 500px;
}